body {
  font-size: .875rem;
  background-color: #F0F0F0;
  color:#5D5D5D;
  font-family: Microsoft JhengHei;letter-spacing: .17px; font-size: 14px;
}
button{transition: all 0.5s ease;}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.main{ margin-top: 50px; }
/*
 * Sidebar
 */
.f-12{ font-size: 12px; }
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);*/
  background-color: #F0F0F0 !important; border-right: 1px solid #DBDBDB;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 400; font-size: 13px;
  color: #5D5D5D;padding: 3px 1rem 3px 25px;
} 
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}
.sidebar .nav-link{ position: relative; }
.sidebar .nav-item.active .nav-link{
  color: #CDA300; font-weight: 500;
}
.sidebar .nav-link:hover{
  color: #CDA300; 
}
.sidebar .nav-link:hover:before, .sidebar .nav-item.active .nav-link:before {
    content: "";
    position: absolute;
    height: 14px;
    background-color: #CDA300;
    width: 2px;
    vertical-align: middle;
    top: 7px;
    left: 21px;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-item.active .nav-link .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
   
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: #F0F0F0;
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.table-border{  }
.table-border thead th, .table-borderless thead th{ background-color: #F0F0F0;border-bottom:0; border:none; }
.table-border tbody tr:hover, .table-borderless tbody tr:hover {
    background-color: #f7fafc;
} 
.table-border th, .table-border td, .table-borderless th, .table-borderless td{ vertical-align: middle; border-bottom: 1px solid #DBDBDB;border-top: none;}
.card .card-body{}
.table a{color: #3c4257;font-weight: 600;}
.medium{ font-weight: 600; }
.nav-tabs .nav-link{ font-size: 18px; }
.row_inactive{ background-color: rgba(255,0,0,.1); }
.border-left-primary .text-primary{ color: #4e73df !important; }
.no-border td{ border:none;  }
.zoom{cursor: zoom-in;}
.img-shadow{-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);border-radius: 5px;transition: box-shadow 0.3s ease-in-out;}
.img-shadow:hover{-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);}
#preview_img, #preview_img_2, .preview_image{ border: 1px solid #ddd; padding: 3px;border-radius: 3px;}
.form-group.required label{ position: relative; }
.form-group.required > label:before{content: "*";color:red;position: absolute;top: 0px;left: -6px; }
.zoom{cursor: zoom-in;}
.img-shadow{-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);border-radius: 5px;transition: box-shadow 0.3s ease-in-out;}
.img-shadow:hover{-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);}
.image-file p{ margin-bottom: 5px; font-size: 12px;color: #5D5D5D;letter-spacing: 0.07px;text-align: justify;}
.image-file .btn{padding: .2rem .6rem;font-size: 12px;}
.form-control-character-count{ position: absolute;right: 15px; }
.sidebar .card-header{ background-color: transparent;border-bottom:none; border-top: 1px solid #DBDBDB;font-size: 15px;
color: #5D5D5D;letter-spacing: 0.09px;text-align: justify; font-weight: 600; padding: 8px 15px 3px 42px;}
.sidebar .card-header{ background-image: url("../images/nav-5.png"); background-repeat: no-repeat; background-position: left 15px center;}
.sidebar .card-header:first-child{ border:none; }
.sidebar .card-header.nav-1{ background-image: url("../images/nav-1.png"); }
.sidebar .card-header.nav-2{ background-image: url("../images/nav-2.png"); }
.sidebar .card-header.nav-3{ background-image: url("../images/nav-3.png"); }
.sidebar .card-header.nav-4, 
.sidebar .nav-guide .card-header.nav-1,
.sidebar .nav-service .card-header.nav-1{ background-image: url("../images/nav-4.png"); }
.sidebar .card-header.nav-5{ background-image: url("../images/nav-5.png"); }
.sidebar .card-header.nav-6{ background-image: url("../images/nav-6.png"); }
.sidebar .card-header.nav-7{ background-image: url("../images/nav-7.png"); }
.sidebar .card-header.nav-8,
.sidebar .nav-service .card-header.nav-2{ background-image: url("../images/nav-8.png"); }
.sidebar .card-header.nav-9{ background-image: url("../images/nav-9.png"); background-size: 20px; }
.sidebar .card-body{ padding: 0 1.25rem 5px 1.25rem; }
.fixed-top{ position: fixed; }
.w100{ width: 100px; }
.w110{ width: 110px; }
.w120{ width: 120px; }
.w150{ width: 150px; }

/* Checkbox Style */
/* Customize the label (the container) */
.chk_container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chk_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chk_container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chk_container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chk_container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chk_container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #4A90E2;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.form-check.disabled [type="radio"]:checked + label:after,
.form-check.disabled [type="radio"]:not(:checked) + label:after {
    background: #DBDBDB; border-color: #DBDBDB;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.font-weight-medium{ font-weight: 600; }
.handle{ cursor: move; }
.d-none{ display: none; }
.remaining_group{ font-size: 12px;
color: #5D5D5D;
letter-spacing: 0.07px;
text-align: justify; }
.col-md-9 .card-body{ min-height: 70vh; }
.input-group-append{ cursor: pointer; }
.bg-dark{ background-color: #242424 !important; }
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.table thead th, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{ border:none !important;  }
.table tbody td{  }
.calender_info li{ display: inline-block; font-size: 14px; margin-left: 20px; position: relative; padding-left: 20px; }
.calender_info li:before{ position: absolute; content: "";border: 1px solid #DBDBDB; width: 15px; height: 15px; border-radius: 50%; background-color: #fff; top: 4px;left: 0;}
.calender_info li.nav-2:before{ border-color: #4A90E2; background-color: #4A90E2; }
.calender_info li.nav-3:before{ border-color: #D8D8D8; background-color: #D8D8D8; }
.calender_info li.nav-4:before{ border-color: #862321; background-color: #862321; }
.fc-left h2{ font-size: 14px;vertical-align: middle;float: none !important;display: inline-block; }
.fc-left button{ float: none !important; }
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number{ float: none; }
.fc-content-skeleton thead .fc-day-top{ text-align: center; }
.fc-day-top .edit-event{ font-size: 12px;color: #4A90E2;letter-spacing: 0.07px;text-align: justify; right: 8px;position: absolute;}
.period_form .input-group{ width: 240px; }
.fc-content-skeleton thead .fc-day-top{ position: relative; }
.calendar-container #loading{position: absolute;top: 0;bottom: 0;left: 0;right: 0;text-align: right;}
.calendar-container{ position: relative; }
.fc-event-container .fc-title{ opacity: 0; }
.openEvent{ background-color: #fff !important; border-color: #DBDBDB !important; }
.reservedEvent{ background-color: #4A90E2 !important; border-color: #4A90E2 !important;}
.disableEvent{ background-color: #D8D8D8 !important; border-color: #D8D8D8 !important;}
.fullEvent{ background-color: #862321 !important;border-color: #862321 !important; }
.month_button{ display: inline-block; }
.edit-event{ background-color: transparent; border:none; padding: 0; }
.edit-event:hover{ color: ##297CDD; text-decoration: underline; }
@media (min-width: 768px) {
  .row-28{ margin-left: -28px; margin-right: -28px; }
  .row-28 .col{ padding: 0 28px; }
  .border-right{ border-right: 1px solid #DBDBDB !important;}
}
#dayModalLabel{ text-align: center; font-size: 14px; font-weight: 600; }
#dayModalForm .control-label{ font-size: 14px; color: #000; font-weight: 600; }
.dashboard .card-body{ min-height: unset; }
.dashboard-cards a:hover{ text-decoration: none !important; }
.dashboard-cards .item{-webkit-transform: translate3d(0,-5px,0);transform: translate3d(0,-5px,0);transition: all 0.3s ease;}
.dashboard-cards .item:hover{ -webkit-transform: translate3d(0,-1px,0);transform: translate3d(0,-1px,0) !important; }
.select{ background-color: #f0f0f0; 
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
background-size: 30px 60px;
text-indent: .01em;
text-overflow: '';
background: #ffffff url('../images/select-bg.svg') no-repeat 100% 45%;
    background-color: rgb(255, 255, 255);
    background-size: auto;
    background-clip: border-box;
background-clip: padding-box;
border: 1px solid #cccccc;
border-radius: .25rem; 
font-size: 14px;
height: 37px;
line-height: 1.42857143;
padding: 4px 25px 5px 10px;
vertical-align: baseline;
box-sizing: border-box; min-width: 175px; }
.fc-event-container .fc-day-grid-event{ border-radius:0px !important; margin: 3px 6px;}