@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
@media (min-width: 992px) {
  .main{ margin-top: 80px; }
}
.container-md{ max-width: 980px; }
@media (max-width: 1199px) {
  .container{ max-width: 100%; }
}
table td, table th{ padding: 8px; }
.en-font{font-family: 'Roboto', sans-serif !important;}
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
.font-weight-midium{ font-weight: 500; }
.alert-success {
  color: #fff;
  background-color:rgba(255,255,255,0.10);
  border-color:rgba(255,255,255,0.4);
}
.alert-danger{background-color: transparent;border-color:#FF555F !important;opacity: 0.8;color:#FF555F; list-style: none;}
/*
 * Base structure
 */

html,
body { 
  /*height: 100%;*/
      font-family: Microsoft JhengHei;letter-spacing: .17px;font-weight: 400;
  /*font-family: 'Roboto', sans-serif;*/
background-color:#333; font-size: 14px; color: #fff;
}
@media (min-width: 992px) {
  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;  color: #fff;
  } 
}
a, button{transition: all 0.5s ease;}
/* Common */
img{ max-width: 100%; }
.yellow-color{ color: #F4DD89; }
.cover-bg{ background-repeat: no-repeat; background-size: cover; position: relative;background-position: center;background-image: url("../images/default-image.jpg");}
.overlay {background-color:#000;position: absolute;top: 0;left: 0;bottom: 0;right: 0; z-index: 1;}
.overlay-1{opacity: 0.4;}
.overlay-2{opacity: 0.5;}
.overlay-3{opacity: 0.9;}
.overlay-content{ position: relative; z-index: 9; }
@media (min-width: 500px) { 
  .card-horizontal {
      display: flex;
      flex: 1 1 auto;
  }
}
.beers-list .yellow-color{ min-width: 80px; }
.beer-logo{ width: 75px; }
.dark-modal .modal-content{ background: #202020; border-radius: 0; border:none; }
.dark-modal .close{ position: absolute;right: 20px;top: 10px;z-index: 9999;opacity: 1; }
.imageModal .close, #beerModal.dark-modal .close{ right: 14px;top: 6px; }
.dark-modal .close:hover{ opacity: 0.7; }
.dark-modal .close span{color:#fff;box-shadow: none;font-weight: 300;font-size: 30px;}
.btn-primary{color:#fff;background-color:#F4C71B;border-color:#F4C71B; border-radius: 20px;padding: .4rem 1.2rem;font-size: 14px;}

.btn-primary:hover{color:#fff;background-color:#E6B601;border-color:#E6B601}
.btn-primary:focus,.btn-primary.focus{box-shadow:0 0 0 .2rem rgba(0,90,90,0.5)}
.btn-primary.disabled,.btn-primary:disabled{color:#fff;background-color:teal;border-color:#E6B601}
.btn-primary:not(:disabled):not(.disabled):active,.btn-primary:not(:disabled):not(.disabled).active,.show>.btn-primary.dropdown-toggle{color:#fff;background-color:#00b3b3;border-color:#000}
.btn-primary:not(:disabled):not(.disabled):active:focus,.btn-primary:not(:disabled):not(.disabled).active:focus,.show>.btn-primary.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(0,90,90,0.5)}
/* Font */
.f-10{ font-size: 10px; }
.f-light-14{opacity: 0.4; font-size: 14px;color: #FFFFFF;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); }
.f-light{color:rgba(255,255,255,0.4); }
.display-1{ font-size: 32px;color: #FFFFFF;letter-spacing: 0.2px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); font-weight: 400;}
/* Button */
.btn-round {
    border-radius: 30px !important;
}
.btn-outline-white {
  font-size: 14px;
  padding: .5rem 1.4rem;
  
  text-align: justify;
  background: rgba(255,255,255,0.10);
  text-shadow: 0 0 20px rgba(0,0,0,0.80);
  color:rgba(255, 255, 255, 0.4); 
  background-image: none;
  border-color:rgba(255, 255, 255, 0.4);text-align: center;
}
.btn-outline-white:hover {
    color: #fff; 
    border-color: #fff;
}  
.m-h-500{ min-height: 460px; }
.m-w-136{ min-width: 136px; }
.bg-cover-1{ background-image: url("../images/bg-cover-1-min.jpg"); }
.bg-cover-2{ background-image: url("../images/bg-cover-2-min.jpg"); }
.bg-cover-3{ background-image: url("../images/bg-cover-3-min.jpg"); }
.bg-cover-4{ background-image: url("../images/bg-wheat.jpg"); }
.list-group-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.list-group-item:last-child { 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}

.dropdown-menu {
  margin-top: 0;
}
.navbar-nav .dropdown-menu{ background-color:rgba(63,63,63,0.60)/*rgba(255,255,255,0.10)*/;color:#fff;border:none; border-radius: 10px;padding: 10px 0;}
.navbar-nav .dropdown-menu .dropdown-item{font-size: 14px;color: #CECECE;letter-spacing: 0.09px;text-align: center;padding: 6px 10px;}
@media (min-width: 992px) {  
  .navbar-nav .dropdown-menu .dropdown-item.active{ color: rgba(255, 255, 255, 1);background: #F4C71A;}
  .navbar-nav .dropdown-menu .dropdown-item:hover{ color: rgba(255, 255, 255, 1); background: #F4C71A;}
}
.dropdown-item.active, .dropdown-item:active, .dropdown-item:focus, .dropdown-item:hover{ background-color: transparent; }
.dropdown-divider{ border:none !important; display: none; }
.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
}
@media only screen and (max-width: 1030px) and (min-width: 992px)  {

}
.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*
 * Header
 */ 
.dropdown-toggle::after{ display: none; }
@media (min-width: 992px) { 
 .nav-fixed {
      position: fixed;
      top: 0;
      transition: top 0.5s ease-in-out;
      width: 100%;z-index: 99;
  } 
  .nav-up {
      top: -80px;
  }
}
@media (min-width: 768px) {  
  .logo{ max-width: 170px; } 
}
@media (max-width: 767px) {  
  .logo{ max-height: 40px; } 
}
@media (max-width: 991px) { 
  #header{ margin-bottom: 20px; }
}
#mainNav .nav-item{white-space: unset;}
@media (min-width: 992px) {  
  #mainNav .nav-item a.nav-link{color: rgba(255, 255, 255, 0.65);text-shadow: 0 0 20px rgba(0,0,0,0.80); display: inline-block; padding: 7px 20px 7px 16px;}
  #mainNav .nav-item a.nav-link:after{ content: "";display: block;width: 0;height: 2px;margin: 10px auto 0;background-color: rgba(255,255,255,0.2); border-radius: 1.5px;border-radius: 1.5px;border: none;-webkit-transition: all 0.4s ease-in-out;-o-transition: all 0.4s ease-in-out;transition: all 0.4s ease-in-out;}
  #mainNav .nav-item.active a.nav-link:after, #mainNav .nav-item.show a.nav-link:after{width: 90%;  }
  #mainNav .nav-item.active a, #mainNav .nav-item > a:hover{ color: #fff; }
  #mainNav .nav-toggle{ display: none; }
  #mainNav .nav-item div.link{ display: inline-block; }
}
@media (max-width: 991px) {
  .navbar-nav .nav-link{ padding-left: 5px; }
  #mainNav .nav-toggle{cursor: pointer;
background-image: url("../images/nav-down-arrow.svg");
background-repeat: no-repeat;
background-position: center;
background-size: 16px;
border: none !important;
width: 16px;
height: 12px;
background-color:
transparent;
border: none;
font-size: 0;
position: absolute;
right: 8px;
top: 0;
bottom: 0;
background-position: center right;
height: 35px;
width: 60px; outline: none !important;}
  .navbar-nav .dropdown-menu{ padding: 0px; }
  #mainNav .navbar-nav .show .nav-toggle{background-image: url("../images/nav-up-arrow.svg");}
  .navbar-nav .dropdown-menu .dropdown-item{ text-align: left; }
  .navbar-nav .show .nav-link{color: #C2A42B;}
  .navbar-nav .dropdown-menu{ background-color: transparent !important; }
  .navbar-nav .dropdown-menu .dropdown-item{ color: #fff; }
  .navbar-nav .dropdown-menu .dropdown-item.active{ color: #C2A42B; }
}
@media (min-width: 992px) {
  #mainNav .nav-item + .nav-item::before {
      display: inline-block; 
      color: rgba(255, 255, 255, 0.5);
      content: ""; /*margin: 0 7px 0 10px;*/ height: 16px; width: 1px; background-color: rgba(255, 255, 255, 0.65);
      position: relative;top: 3px;
  }
  #mainNav .nav-item:last-child a{ padding-right: 0;  }
  .lang-dropdown .dropdown-toggle::after{ display: inline-block; }
  .lang-dropdown .dropdown-toggle::after{background-image: url("../images/down-arrow.svg");background-repeat: no-repeat;background-position: center;background-size: 9px; border:none !important;width: 8px;height: 5px;}
  .show.dropdown .dropdown-toggle::after {transform: unset;}
}
.lang-dropdown .fa-globe{font-size: 16px;}
@media (max-width: 991px) {
  .page-header{ background:none !important;  }
  body{ background-image: url("../images/rwd-default-image.jpg");background-repeat: no-repeat;background-position: center; background-size: cover;}
}
.navbar-default .navbar-toggler {
  border:none; background-color: transparent;
  cursor: pointer;
} 
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.navbar-default .navbar-toggler .icon-bar {
  background-color: #fff; 
}
.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 6px;
}
/*
 * Footer
 */ 
 @media (min-width: 992px) {
   .sticky-footer {
      position: absolute;
      bottom: 0;
      width: 100%;  
  }
}
#footer{ color: rgba(255, 255, 255, 0.65); z-index: 99; }
.gb-logo img{ opacity: 0.65; }
@media (max-width: 992px) {
  #footer{ padding: 15px 0; }
  #footer p{ margin-bottom: 0px !important; }
}
/*
 * Cover
 */
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
    .logo-container{ min-height: 218px; }    
    .content-height{ min-height: 375px; }
}
.brewery_logo{ width: 305px; max-width: 100%; }
.cover-container{ position: relative; } 
.logo-text{ font-size: 26px; 
letter-spacing: 10.83px;
text-align: center;
line-height: 37px; }
.cover-container .divider{ color: rgba(255, 255, 255, 0.65);margin: 0 8px;font-size: 24px;font-weight: 300;vertical-align: sub;line-height: 25px; }
.mastfoot{ position: absolute;bottom: 0;left: 0;right: 0; z-index: 99;} 
.bg-indigo { background: indigo; }
.bg-yellow { background: #00570a; }
.text-cyan { color: #35bdff; }
@media (max-width: 500px) {  
} 
@media (max-width: 767px) {
  .entrance-col-2{ min-height: 408px; } 
  .cover-container .divider{ font-size: 20px;line-height: 18px; }
  button.m-w-136{ min-width: 100px; }
}
.thumbnail_zoom:hover img {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}
/* Main Page */
.wrapper {
    transition: all .5s cubic-bezier(.685,.0473,.346,1);
    left: 0;  width: 100%;
    position: relative; 
}
@media (min-width: 992px) {
  .page-header, .main-page-header {
    background-color: #b2afab;
    background-position: 50%;
    background-size: cover; 
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  .page-header .content-center, .main-page-header .content-center{
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 999;
      transform: translate(-50%,-50%);
      text-align: left;
      color:   #fff;
      width: 100%;
  }
  .page-header .content-center .container, .main-page-header .content-center .container{ position: relative; }
}
@media (max-width: 991px) {
  body.h-100{ height: auto !important; }
  .main-page-header{ background-position: top 78px center; }
  .main-page-header .overlay-3{ /*display: block !important; opacity: 0.8; z-index: 0; position: relative; */}
}
.body-bg{background-repeat: no-repeat; background-size: cover; position: relative;background-position: center;background-image: url("../images/bg-cover-1.jpg");}

/* Slider Content */
@media (min-width: 992px) {
  .full-slider-page, body{ min-height: 680px; position: relative; }  
  .page-header, .main-page-header {height: 100vh;min-height: 680px;max-height: 999px;}
  body.contact-page .page-header, body.contact-page{ min-height: 800px; }       
}
.jumbotron-slider{  }
.jumbotron-slider .content{ min-height: 120px; }
.jumbotron-slider .content, .jumbotron-slider .content *{ font-size: 32px;color: #fff;letter-spacing: 0.2px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); }
.slider-full-right {position: absolute;right: 0; background-color:rgba(255, 255, 255, 0.65); }
.jumbotron-slider .jumbotron-bottom .mast-action{ width: 450px; max-width: 100%; }
.jumbotron-slider .mast-action .title{ position: relative; }
.jumbotron-slider .mast-action .title:before{ color:rgba(255, 255, 255, 0.4);content: "";margin: 0px;margin-left: 0px;margin-left: 0px;height: 40px;width: 1px;background-color:rgba(255, 255, 255, 0.65);
position: absolute;top: 0px;transform: rotate(45deg);left: -30px;}
.page-title{ font-size: 14px;color: rgba(255, 255, 255, 1);text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); position: relative;}
.page-title:after{color: rgba(255, 255, 255, 0.5);content: ""; margin: 0px; height: 16px; width: 1px; background-color: rgba(255, 255, 255, 0.65); position: absolute;top: 0px;margin-left: 7px;}
@media (max-width: 767px) {
    .jumbotron-slider .mast-action .title, .jumbotron-bottom .button{ margin-left: 50px; }    
    #main-page .content-center{ }
    #main-page .slider-image{ display: none; }
    #main-page .nav-slider{ position: absolute; bottom: 20px; left: 0; right: 0; }
    #main-page .content-center .jumbotron-slider{  min-height: 575px; }
}
@media (min-width: 768px) {
  .jumbotron-slider .jumbotron-bottom{ margin-left: 50px; }
  .thumbnail_inside {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - 112px);min-height: 570px;
      z-index: 0;
      overflow: hidden;
      z-index: 99;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
  }
  .thumbnail_inside_2 { position: relative;
        width: 100%; 
        height: 610px;
        z-index: 0;
        overflow: hidden;
        z-index: 99;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }
  .thumbnail_inside_2 {
    max-height: 610px; min-height: 500px; height: calc(100vh - 205px);
  }
  .contact-page .thumbnail_inside_2{ min-height: 610px; }
  .thumbnail_inside_3 { position: relative;
      width: 100%; 
      height: 160px;
      z-index: 0;
      overflow: hidden;
      z-index: 99;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
  }
  .thumbnail_inside .overlay{ z-index: 999; }
  .slider_Img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      -o-object-fit: cover;
      object-fit: cover;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      z-index: 9;
  }
  .thumbnail_inside_2 .slider_Img {z-index: 0; }
}
@media (max-width: 767px) {
  .thumbnail_inside_2{ margin-top: 20px; }
}
.nav-slider{ z-index: 9999;width: 180px; }
.nav-slider button, .nav-slider a{text-decoration: none !important; border: none;background-color: transparent; height: 62px; width: 62px;outline: none; background-repeat: no-repeat; cursor: pointer;background-image: url("../images/slider-arrow.svg"); opacity: 0.4}
.nav-slider button:hover, .nav-slider a:hover{ opacity: 1; }
.nav-slider button span, .nav-slider a span{ font-size: 0px; }
.nav-slider .owl1-prev{background-position: left 1px center; }
.nav-slider .owl1-next{background-position: right center;}
.vertical-text { 
    height: 25vh;
    min-height: 286px;
    position: absolute;
    overflow: hidden;
    z-index: 999;
    right: 20px;
    bottom: 0;
}
.vertical-text h3{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left top 0;
    transform-origin: left top 0;  
        float: left;
      opacity: 0.6; 
      font-size: 12px;
      color: rgba(255,255,255,0.6);
      letter-spacing: 0.08px;
      text-align: justify;
      text-shadow: 0 0 20px rgba(0,0,0,0.80); margin-left: 20px; position: relative;right: -85%;
    }
.vertical-text:after{content: " ";width: 1px;background-color:rgba(255,255,255,0.6);height: 160px;position: absolute;right: 0;bottom: 0; }    
/* Content Style */ 
.main-content .page-title{ margin-bottom: 20px; }
.main-content .sub-title{ margin-bottom: 20px; }
@media (min-width: 768px) {
  .main-content{ margin-top: 50px;margin-bottom: 20px; }
}
@media (max-width: 767px) {
  .vertical-text{ display: none; }
  .main-page .content br{ display: none; font-size: 30px; }
}
.desc{ font-size: 14px; text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80);  }
.desc img{ margin-bottom: 20px; }
.desc p > img{ margin-bottom: 0; }
.desc h1, .desc h2, .desc h3, .desc h4, .desc h5{ margin-bottom: 20px; font-weight: 400; }
.desc h2{ font-size: 26px; }
.desc h3{ font-size: 24px; }
.desc h4{ font-size: 20px; }
.desc h5{ font-size: 18px; }
.desc p{font-size: 14px; text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); margin-bottom: 20px;}
.desc ul:not(.list-group){ list-style: none; padding: 0px 0 0 20px; margin: 0px; }
.desc ul:not(.list-group) li{ margin-bottom: 20px;  }
.desc ul:not(.list-group) li:before{ position: absolute; content: "◆";  left: 0px; }
.desc ul:not(.list-group) li p{ margin-bottom: 10px; }
.desc b, .desc strong{ font-weight: 600; }
.scroll-scrolly_visible .description{ padding-right: 20px; }
.desc .list-group{ margin-bottom: 20px; margin-right: 1px; }
.desc .list-group li{ background-color: transparent;border-color: #979797; }
/* Product List */
.product-list .card, .card-list .card{ background-color: transparent; border-color: transparent; color: #fff; }
.product-list .thumbnail_inside_3{ cursor: pointer; }
@media (min-width: 500px) { 
  .product-list .card .card-body{ padding: 10px; width: calc(100% - 160px);}
  .product-list .card .img-square-wrapper{ width: 160px; height: 160px; } 
}
@media (max-width: 499px) { 
  .product-list .card .card-body{ margin-top: 15px; padding: 0; }
}
.product-list .card .card-title, .product-list .card p,
.card-list .card .card-title, .card-list .card p{ font-size: 14px;

text-align: justify;
text-shadow: 0 0 20px rgba(0,0,0,0.80); margin-bottom: 10px;}
.product-list .card .price-box{  }
.price-box label{margin: 0 15px 0 0; font-size: 14px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); }
.price-box .price{ font-size: 24px;color:rgba(255, 255, 255, 1);letter-spacing: 0.15px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); line-height: 28px;}

.card-list .card .card-body{ padding: 10px; width: calc(100% - 100px);}
.card-list .card .card-body p:last-child{ margin-bottom: 0px; }
.card-list .card .img-square-wrapper{ margin-right: 15px; } 
.card-list .beer-title{ font-weight: 500; }
.card-list .card{ cursor: pointer;
  font-size: 14px;

text-align: justify;
text-shadow: 0 0 20px rgba(0,0,0,0.80);  }
.beers-list .item .card{ border-bottom: 1px solid rgba(255,255,255,0.4); margin-bottom: 15px; padding-bottom: 15px; border-radius: 0;  }
.product-list .card img, .beers-list .card img{ margin-bottom: 0; }
/* Contact Us Page */
#contact-page .form-container{ max-width: 400px; }
.form-container .row{ margin-left: -10px;margin-right: -10px; }
.form-container .row .col-md-6, .form-container .row .col-md-12{ padding-left: 10px; padding-right: 10px; }
.form-container .form-control{ background-color: transparent; border-color: #fff; color: #fff; border-radius: 10px; }
.form-container .form-control{ font-size: 14px; }
.form-container #message{  }
select.form-control {  position: relative;
  /* Here's the code we need */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
   -o-appearance: none;
    appearance: none;background-image: url("../images/down-arrow.svg");
background-repeat: no-repeat;
background-position: right 10px center;
background-size: 9px;
} 
.select-wrapper:after {
  font-family: FontAwesome;
    content: '\f107';
    font-size: 28px;
    position: absolute;
    top: 12px;
    right: 20px;
    color: #434B67;
    pointer-events: none;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #fff;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 100%;
    background: transparent;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* 最新消息 Latest New */
.card-img-top {
    width: 100%;    
    object-fit: cover;
}
.news-list a{ text-decoration: none !important; }
.news-list .card .card-image{ overflow: hidden; }
.news-list .card .card-img-top {border-radius: 0; transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); max-height: 240px;}
.news-list .card .card-img-top:hover{ -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1); }    
.news-list .card{ border: none; background-color: transparent;  }
.news-list .card .card-title{ font-size: 14px;color: #FFFFFF;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); margin: 8px 0 5px 0; }
.news-list .card .card-text{font-size: 12px;letter-spacing: 0.08px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); margin: 0; }
.news-container{  max-width: 1070px; }
.news-model .date{ font-size: 12px; margin-bottom: 10px; }
.news-model .news-title{ font-size: 14px; font-weight: 400; margin-bottom: 12px; }
.news-model{ font-size: 14px; }
.desc-inner{ padding-right: 25px; }
@media (min-width: 768px) {
  .card-img-top {
    height: 18vw;
  }
  .modal.contact-model .modal-dialog {
    width: 600px; max-width: 100%;
  }
  .news-list .card .card-img-top { }
}
@media only screen and (max-width: 767px) and (min-width: 360px)  {
  .news-list .news-container .item{padding-right: 8px;padding-left: 8px !important}
  .news-list .news-container .row{ margin-left: -8px; margin-right: -8px !important; } 
}
@media (max-width: 359px) {
  .news-list .news-container .item{ -webkit-box-flex: 0;-ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%; }
}
.table{ border: 1px solid #979797; border-radius: 10px; margin-bottom: 20px;overflow: hidden;border-collapse: collapse; }
.table th{ color:rgba(255,255,255,0.4); font-weight: 400;}
.table td, .table th{ vertical-align: middle; border-color:#979797 !important; border-width: 1px !important; }
.modal.show .modal-dialog{ z-index: 999; }
.loading{ background-image: url("../images/ajax-loader.gif");
background-repeat: no-repeat;
height: 100px;
text-align: center;
background-position: center; }
#beerModal .modal-title, .imageModal .modal-title{ font-size: 15px; }
#beerModal .modal-header, .imageModal .modal-header{ border:none; }
@media (min-width: 768px) {
  #beerModal .beer-img{ max-height: 70vh; }
}
@media (min-width: 600px) {
  .modal.beer-model .modal-dialog {
    width: 590px; max-width: 100%;
  }
}
#signin-page .container{ max-width: 900px; }
#signin-page .subtitle{ opacity: 0.4;font-size: 14px;color: #FFFFFF;letter-spacing: 0.09px;text-shadow: 0 0 20px rgba(0,0,0,0.80); margin-bottom: 12px; }
@media (min-width: 500px) {
  .signin-form{ width: 200px; max-width: 100%; }
}
@media (min-width: 768px) {
  #signin-page .signup{ border-left: 1px solid rgba(255,255,255,0.4); }
}
@media (max-width: 767px) {
  #signin-page .signup{ border-top: 1px solid rgba(255,255,255,0.4); padding-top: 20px;margin-top: 11px;}
}
/* Calender */
.fc th, .fc td{ border:none !important; text-align: center; }
.fc td a{ float: none !important; }
.fc .fc-left button{ height: 18px; }
.fc-day-top .fc-day-number{text-align: center; }
.fc-content-skeleton tbody{ display: none !important;  }
/*.fc-dayGrid-view .fc-body .fc-row{ max-height: 42px;min-height: 0; }*/
.fc-basic-view .fc-body .fc-row {min-height: 45px;}
.fc-content-skeleton thead tr td{ padding: 2px; }
.fc-day-top.fc-other-month{ opacity: 0 !important; }
.fc-content-skeleton thead tr td .fc-day-number{ border: 1px solid #fff;border-radius: 30px;display: inline-block;width: 25px;padding: 8px 5px; float: none !important; font-size: 12px; cursor: pointer;}
.full .fc-day-number{ border-color: #FF555F !important; opacity: 0.8; color: #FF555F !important; }
.active .fc-day-number{background: rgba(235,235,184,0.20) !important;border-color:#EBEBB8 !important;}
.disable .fc-day-number, .fc-day-number, .fc-content-skeleton thead tr td.fc-past .fc-day-number{ opacity: 0.4;}
.available .fc-day-number{ opacity: 1;}
.fc-widget-header{ margin-bottom: 10px; }
.fc-left button{ background: none !important;border: none !important; display: inline-block; padding: 0; opacity: 0.4; box-shadow: none !important;float: none !important;}
.fc-left button span{box-shadow: none !important;}
.fc-left button:hover{ opacity: 1; }
.fc-left h2{color:rgba(255,255,255,0.4);font-size: 14px;letter-spacing: 0.09px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); vertical-align: middle; display: inline-block;float: none !important;}
.fc-unthemed td.fc-today{ background-color: transparent; }
.fc-head .fc-widget-header{ border:none;  }
.fc-state-default{ text-shadow: none !important; color: #fff; opacity: 0.4; }
.fc-state-default:hover{ opacity: 1; }
.calender_info{ text-align: left; margin: 0;}
.calender_info li{ display: inline-block;font-size: 12px;color: #FFFFFF;letter-spacing: 0.08px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); margin-left: 15px; position: relative;padding-left: 10px;}
.calender_info li::before {content: "•"; color: #fff;position: absolute;left: 0; font-size: 18px;top: -4px;}
.calender_info li.nav-1{  }
.calender_info li.nav-2{ color:rgba(255,255,255,0.4); }
.calender_info li.nav-2::before {color:rgba(255,255,255,0.4); }
.calender_info li.nav-3{ color: #FF555F; opacity: 0.8;}
.calender_info li.nav-3::before {color: #FF555F; opacity: 0.8;}
#reservationsForm h3{ margin-bottom: 15px; }
#reservationsForm .form-group{ font-size: 12px; color: #fff; }
.reservationsForm .form-group .form-check{ padding-left: 0px; padding-bottom: 10px; }
.reservationsForm .input-group{ width: 140px; border:1px solid #fff; border-radius: 10px; }
.reservationsForm .input-group .btn{ background-color: transparent; border:none; color: #fff; }
.reservationsForm .input-group .input-number{ background-color: transparent; border:none; text-align: center; color: #fff; border-right: 1px solid #fff;border-left: 1px solid #fff;}
.reservationsForm .cal-price{ margin: 15px 0 0 15px; }
.reservationsForm .cal-price .price{ min-width: 40px;text-align: right;display: inline-block;margin-left: 10px;}
.help-text{ font-size: 10px; opacity: 0.4; }
.calendar-container .fc-scroller{ overflow: hidden !important;height: auto !important; }
@media (min-width: 768px) {
  .row-28{ margin-left: -28px; margin-right: -28px; }
  .row-28 .col, .row-28 .cols{ padding: 0 28px; }
  .border-right{ border-right: 1px solid rgba(255,255,255,0.4) !important;}
}
@media (max-width: 767px) {
  .border-right{ border-right: none !important;border-bottom: 1px solid rgba(255,255,255,0.4) !important; margin-bottom: 20px; padding-bottom: 20px;}
  #reservationsForm .col-md-7 .w-100 {width: auto !important;}
}
#reservationsForm .w-190{ width: 190px; }
@media (max-width: 500px) {
  #reservationsForm .w-190{ width: 100%; }
}
#reservationsForm .step-2{ font-size: 12px; }
#reservationsForm .form-group label{ margin-bottom: 2px; }
#reservationsForm #appointment_note{ height: 96px; }
#reservationsForm .period{ padding-bottom: 8px; }
#reservationsForm .period_date{  }
#reservationsForm .period_time{  border-bottom: 2px solid rgba(255,255,255,0.4); min-width: 70px; text-align: right;}
#reservationsForm .checkout-datetime{ margin-bottom: 10px; }
#reservationsForm .subtotal{ font-size: 16px; }
#reservationsForm .step-2 .info{ margin-bottom: 25px; }
#reservationsForm .step-2 .submit-btn{ margin-top: 38px; }
.mt-26{ margin-top: 26px; }
.content-success{  }
.content-success .reservations-datetime{ font-size: 24px;letter-spacing: 0.15px;text-align: right;text-shadow: 0 0 20px rgba(0,0,0,0.80);margin-bottom: 10px; }
.reservations-info .list-group-item{ background-color:transparent;border: none; padding: 4px 0;font-size: 14px;}
.reservations-info .list-group-item label{ color: rgba(255,255,255,0.4);margin: 0; }
.reservations-info .total-amount{ border-top: 1px solid rgba(255,255,255,0.4); margin-top: 15px; padding-top: 15px; }
.calendar-content .content{ position: relative; }
.cal-loading{position: absolute;top: 0;bottom: 0;left: 0;right: 0;text-align: center;}
.input-group .btn{background: rgba(255,255,255,0.10);color:#fff;border-radius: 0 10px 10px 0;}
.input-group .btn:hover{ background-color: transparent; }
#signupForm .form-control{ font-size: 14px; }
.verification_code_field{ position: relative; }
.verification_code_field .fa{ position: absolute; right: 8px; top: 10px;cursor: help;font-size: 16px; }
#forgetModal .modal-title{ font-size: 12px; font-weight: 600; letter-spacing: 0.08px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80);}
#forgetModal h3{ font-size: 14px; font-weight: 600;letter-spacing: 0.08px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80); margin-bottom: 14px;  }
#forgetModal p{font-size: 12px;color: #FFFFFF;letter-spacing: 0.08px;text-align: justify;text-shadow: 0 0 20px rgba(0,0,0,0.80);}
.theme-table{ border-radius: 10px;border: 1px solid #979797; margin-right: 1px; margin-bottom: 16px;}
.theme-table table{ border:none; margin-bottom: 0px; }
.theme-table table thead th{ border-top: none; }
.theme-table p{ margin-bottom:0px; }
.phone-field{ position: relative; }
.phone-field .contry-code{position: absolute;top: 9px;left: 9px;border-right: 1px solid #fff;line-height: 15px;padding-right: 5px;}
.phone-field .form-control{padding-left: 58px;}
.question_type option{ color: #fff !important; background-color: #000; }
.question_type option:first-child{ color: #fff !important; }
.question_type option[value=""] {
  color: #fff !important;
}
.custom-table{ border: 1px solid #979797; border-radius: 10px; margin-bottom: 20px;overflow: hidden;border-collapse: collapse; }
.custom-table th{ color:rgba(255,255,255,0.4); font-weight: 400;}
.custom-table td, .custom-table th{ vertical-align: middle; border-color:#979797 !important; border-width: 1px !important; padding: 10px 20px; }
.custom-table table{ border:none !important; } 
.custom-table tr th:last-child, .custom-table tr td:last-child{ text-align: right; }
.custom-table tr th, .custom-table tr td{ border-bottom: 1px solid #fff; }
.custom-table tbody tr:last-child td{ border-bottom: none; }
.merchandise-page .scroll-element.scroll-x{ display: none !important; }
.error{ color: red; }